<div class="row">
    <div [ngClass]="{
        'col-12':!sidebarFlag,
        'col-8':sidebarFlag
    }" class="table-wrapper">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre rol</th>
            <th scope="col">Descripcion Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr *ngFor="let element of dataGrid; let i = index" (click)="onRowClick(i)">
            <td>{{element.id}}</td>
            <td>{{element.nombre_rol}}</td>
            <td>{{element.descripcion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 sidebar" *ngIf="sidebarFlag">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Info. Comercializacion
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        Info. credito
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Id:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" style="width: 100%;" disabled [(ngModel)]="selectedRow.id">
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Nombre rol:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" style="width: 100%;" disabled [(ngModel)]="selectedRow.nombre_rol">
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Descripción rol:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" style="width: 100%;" disabled [(ngModel)]="selectedRow.descripcion">
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    <div class="card_footer">
                        <div class="row m-2">
                            <div class="col-3">
                                <button class="btn btn-secondary" (click)="onSaveInfo()">Guardar</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-light" (click)="onCloseRow()">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

