<div class="card">
    <div class="card-header">
        Modal Para Agregar Un Empleado
    </div>
    <div class="card-body">
        <div class="m-2">
            <div class="col-12">
                <label>Dni:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="dni">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Nombre:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="nombre">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Apellido:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="apellido">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Telefono:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="telefono">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Direccion:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="direccion">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Correo:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="correo">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Usuario:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="usuario">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Contraseña:</label>
            </div>
            <div class="col-12">
                <input type="text" style="width: 100%;" [(ngModel)]="contrasena">
            </div>
        </div>
        <div class="m-2">
            <div class="col-12">
                <label>Rol:</label>
            </div>
            <div class="col-12">
                <select [(ngModel)]="rol">
                    <option *ngFor="let elemt of rolesExistentes; let i = index" [value]="i"> {{elemt.nombre_rol}} </option>
                </select>
            </div>
        </div>
    </div>
    <div class="card_footer">
        <div class="row m-2">
            <div class="col-3">
                <button class="btn btn-secondary" (click)="guardarInfromacion()">Guardar</button>
            </div>
            <div class="col-3">
                <button class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
