<div class="row">
    <div [ngClass]="{
        'col-12':!sidebarFlag,
        'col-8':sidebarFlag
    }" class="table-wrapper">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">monto crédito</th>
            <th scope="col"># cuotas</th>
            <th scope="col">estado</th>
            <th scope="col">empleado id</th>
            <th scope="col">cliente id</th>
            <th scope="col">crédito id</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr *ngFor="let element of dataGrid; let i = index" (click)="onRowClick(i)">
            <td>{{element.id}}</td>
            <td>{{element.monto_credito}}</td>
            <td>{{element.numero_total_cuotas}}</td>
            <td>{{element.estado}}</td>
            <td>{{element.empleado.id}}</td>
            <td>{{element.cliente.id}}</td>
            <td>{{element.credito.id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 sidebar" *ngIf="sidebarFlag">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Info. Comercializacion
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        Info. credito
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Id:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" style="width: 100%;" disabled [(ngModel)]="selectedRow.id">
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Nombre credito:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" style="width: 100%;" disabled [(ngModel)]="selectedRow.credito.nombre_credito">
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Descripción credito:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" style="width: 100%;" disabled [(ngModel)]="selectedRow.credito.descripcion">
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Monto Credito:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" disabled style="width: 100%;" [(ngModel)]="selectedRow.monto_credito">
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Cuotas Totales:</label>
                                </div>
                                <div class="col-12">
                                    <input type="text" disabled style="width: 100%;" [(ngModel)]="selectedRow.numero_total_cuotas">
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="col-12">
                                    <label>Estado:</label>
                                </div>
                                <div class="col-12">
                                    <select [(ngModel)]="selectedRow.estado" style="width: 100%;" [disabled]="selectedRow.estado == 'Aprobado' || selectedRow.estado == 'Rechazado'">
                                        <option value="Pendiente">Pendiente</option>
                                        <option value="Rechazado">Rechazado</option>
                                        <option value="Aprobado">Aprobado</option>
                                    </select>
                              </div>
                            </div>

                        </div>
                    </div>
                    <div class="card_footer">
                        <div class="row m-2">
                            <div class="col-3">
                                <button class="btn btn-secondary" (click)="onSaveInfo()">Guardar</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-light" (click)="onCloseRow()">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

